/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

:root {
   --first-color: rgba(197, 82, 11, 0.492);
   --second-color: aliceblue;
   --tres-color: rgba(59, 58, 58, 0.766);
}


.wrapper {
   min-width: 1450px;
   background-color: var(--tres-color);
   color: aliceblue;
   font-size: 16px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

.header 

.bolock__header {
      display: flex;
}

.block__header-left {
   background: url(/assets/img/My_foto.jpg);
   margin: 60px 30px 60px 60px;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
   height: 280px;
   min-width: 230px;
   justify-content: flex-start;
   align-items: center;
   flex: 1 1 1;
      }

.block__header-ride {
   flex: auto;
   background-color: var(--first-color);
   margin: 60px 60px 60px 30px;
   height: 280px;
   min-width: 970px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   box-shadow: 0 0 10px #000;
}

.header__menu {
   height: 80px;
   min-width: 161px;
   text-align: end;
   display: flex;
   justify-content: center;
   align-items: center;
 
}

.header__link {
   color: var(--second-color);
   flex: auto;
   margin: 20px;
   justify-content: center;  
}

.header__title {
   font-size: 42px;
   font-weight: 900;
   text-align: center;
   margin: 20px;
   flex: auto;
   justify-content: center;
   align-items: center;
} 

.header__text {
   font-size: 28px;
   font-weight: 500;
   text-align: center;
   font-style: italic;
}

.main {
   color: var(--second-color);
   margin: 10px 60px 10px 60px;

}
.link {
   color: var(--second-color);
}

.content__cv {
   display: flex;
   flex-direction: column;
   height: auto;
   justify-content: space-between;
   min-width: none;
}
.cv__element {
   flex: auto;
   background-color: var(--tres-color);
   color: var(--second-color);
   box-shadow: 0 0 10px #000;
   min-width: 850px;
   max-width: 1930px;
   text-align: left;
   margin: 20px 10px;
   padding: 40px;
   border-radius: 5px;
   line-height: 25px;
}

.content__title {
   flex: auto;
   text-decoration: underline;
   text-align: left;
   font-weight: 600;
   font-size: 24px;
   height: 40px;
   margin: 0px 0px 10px 50px;
}

.cv__element-code {
    color: burlywood;}

.footer {
   background-color: var(--first-color);
   display: flex;
   border-radius: 5px;
   box-shadow: 0 0 10px #000;
   margin: 60px;
   justify-content: center;
   align-items: center;
   min-width: 1350px;
   max-width: 1930px;
}

.block__footer {
   margin: 30px;
   min-width: 1100px;
   width: 1800px;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.block__footer-row {
   display: flex;
	height: 35px; 
   align-items: center;
   min-width: 150px;
	} 

.footer__copy {
   padding: 0px 0px 0px 50px;
   color: var(--second-color);
   font-size: 14px;
   font-weight: 400;
	letter-spacing: 0.9px;
}
.footer__contacts {
   flex: auto;
   display: flex;
   padding: 0 120px 0 0px;
   min-width: 150px;
   justify-content: flex-end;
   align-items: center;
 }

.contacts__links-git {
   flex: auto;
   padding: 0px 200px 0px 600px;
   height: 40px;
   width: 40px;
   justify-content: center;
}

.contacts__links-rss {
   flex: auto;
   padding: 0px 0px 0px 0px;
   height: 40px;
   width: 90px;
   max-width: 90px;
   }